@charset "UTF-8";
body {
    background-color: rgb(111, 236, 106);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 72, 0);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
.básico{color: green;}
.intermediario{color: yellow;}
.avançado{color: red;}
h2{
    color: rgb(0, 40, 0);
}