@charset "UTF-8";
    body{
            background-color: rgb(128, 150, 222);
            font-family: Arial, Helvetica, sans-serif
            Verdana, sans-serif
            ;
            font-size: 20px; }
        h1{
            color: darkblue;
            background-color: lightgray;
        }
        h2{
            color: rgb(95, 9, 70);
        }
        p{
            text-align: justify;

        }
