body
{
    background-color: lightblue;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
    color: rgb(1, 1, 46);
    text-align: center;
    background-color: rgb(178, 226, 93);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}
h2{
    text-align: left;
    color: darkgreen;
    
}
h3{
    text-align: left;
    color: green;
}
li{
    text-align: 
    justify;
}
